{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <h1 style="text-align: center; color:black;  background-color:dodgerblue; border-radius: 75px; font-size: 30px; margin: 30px; padding: 7px; box-sizing: border-box; ">Venta de productos de padel</h1>
    <br>
    {% if message %}
        <h2>{{message}}</h2>    
    {% endif %}
    <br>
    <p style="color: black; background-color: dodgerblue; border-radius:  5px 30px 45px 15px; margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias non voluptatem tenetur animi ea cumque quibusdam quod odio temporibus autem eius doloribus hic sunt qui veniam voluptatibus vel, nostrum necessitatibus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dicta expedita molestias sint officia corporis, in esse ut reiciendis enim mollitia, ipsam perspiciatis delectus dolorem minima? Molestias et eum iure.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, a ullam exercitationem cumque sequi doloribus enim nostrum laboriosam, omnis animi odit ipsam doloremque sit molestias deserunt asperiores repudiandae sint. Repudiandae.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, suscipit ex cupiditate tenetur itaque ullam vel illum, adipisci sapiente reprehenderit deserunt tempora esse iusto sequi quis autem voluptatibus ratione ipsa.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos assumenda deleniti officia, ratione earum veritatis, error dolorem amet ullam labore qui architecto exercitationem eligendi nobis tenetur itaque, repudiandae corrupti sed!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita id magnam officia doloribus reiciendis illo quasi quae? Hic quasi assumenda vitae reiciendis. Voluptate officia pariatur quis nobis et saepe mollitia?
    </p> 
    <style>
        body {
            background-image:url(https://d26itsb5vlqdeq.cloudfront.net//image/3A203E31-AF91-4A97-96F3B23C85C04010) ;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    {% endblock %}
    