{% extends "base.html" %}

{% block title %}
    lista de productos
{% endblock %}

{% block content %}
    <h1 style="text-align: center;"> Productos Disponibles</h1>
    
    <br>
    <br>
    {% for product in productos %}
    <div class="card" style=  "width: 18rem; justify-content: center; left: 470px; width: 400px;">
        {% if product.product_picture.url != '' %}
            <img src="{{product.product_picture.url}}" class="img-fluid rounded-start" alt="Imagen de producto"
            width="" height="">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            {% if request.user.is_authenticated %}
                <p class="card-text"> 
                    Precio: {{product.price}}</p>
            {% else %}
                <p class="card-text">inicie sesion para ver el precio 
                    <br>
            {% endif %}
            {% if product.stock == True %}
                    <p>Stock disponible</p>
            {% else %}
                    <p>Actualmente, nos quedamos sin stock</p>
            {% endif %}
                    <br>
            </p>
            {% if request.user.is_authenticated %}
            {% if product.stock == True %}
            <a href="/compra/" class="btn btn-primary">Comprar</a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a href="/Update_Product/{{product.id}}/" class="btn btn-primary">Actualizar</a>
            <a href="/Delete_Product/{{product.id}}/" class="btn btn-danger">Borrar</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <br>

    {% endfor %}







{% endblock %}