{% extends "base.html" %}

{% block title %}
    sobre nosotros
{% endblock %}

{% block content %}
    <h1 style="text-align: center; color: black;">Un poco de informacion sobre la Pagina</h1>
    <br>
    <h2 style="color:black;">Como surge la idea?</h2>
    <p style="color: black;">La idea principal de la pagina es de compra/venta de paletas y diversos articulos de padel, se me ocurrio ya que juego hace varios años y es un deporte que me encanta.
        <br>
        La pagina se basa en poder comprar paletas usadas en buen estado para gente que esta arrancando o simplemente no puede comprarse una paleta nueva, tambien hay un apartado para articulos nuevos.
    </p>
<br>
<h2 style="color: black;">Un Poco sobre mi</h2>
<p style="color: black;">Mi nombre es Pablo Ruiz Diaz, tengo 18 años, soy de Concordia, Entre Rios. Actualmente estoy cursando el 2do año de la carrera Licenciatura en Sistemas en la UNER.
    Elegi empezar el curso porque queria aprender un lenguaje, preguntando entre conocidos todos me recomendaron python. y bueno, aca estoy!!</p>



{% endblock %}