{% extends "base.html" %}

{% block title %}
    sobre nosotros
{% endblock %}

{% block content %}
    <h1 style="text-align: center; color: black;">Un poco de informacion sobre la Pagina</h1>
    <br>
    <h2 style="color:black;">Como surge la idea?</h2>
    <p style="color: black;">La idea principal de la pagina es de compra/venta de paletas y diversos articulos de padel, se me ocurrio ya que juego hace varios años y es un deporte que me encanta.
        <br>
        La pagina se basa en poder comprar paletas usadas en buen estado para gente que esta arrancando o simplemente no puede comprarse una paleta nueva.
<br>
<br>
<h2 style="color:black ;" >Funcionalidad</h2>
<p style="color: black;">La funcionalidad de la pagina es muy sencilla, los usuarios logueados podran publicar sus propios productos para vender y tambien podran ver los diferentes articulos que hay en la tienda. La pagina no cuenta con una plataforma de pagos, lo que tiene es un apartado con un formulario en el cual aparece nuestra informacion de contacto y un apartado para que nos puedas enviar un mensaje</p>
<p style="color: bla;" >En cuanto al perfil es muy sencillo tambien, el usuario tiene un "Nombre de usuario", un "Nombre", un "Apellido", un "numero de telefono", "fecha de cumpleaños" y por ultimo una "imagen de perfil"</p>
<br>
<h2 style="color: black;">Un Poco sobre mi</h2>
<p style="color: black;">Mi nombre es Pablo Ruiz Diaz, tengo 18 años, soy de Concordia, Entre Rios. Actualmente estoy cursando el 2do año de la carrera Licenciatura en Sistemas en la UNER.
    Elegi empezar el curso porque queria aprender un lenguaje, preguntando entre conocidos todos me recomendaron python. y bueno, aca estoy!!</p>



{% endblock %}